.amazon-image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 19px;
    margin-left: 101px;
}
.sign-in-header{
    font-family: "Amazon Ember", Arial, sans-serif;
    border: 1px;
    border-radius: 13px;
    border-color: grey;
    border-style: solid;
    width: 393px;
    height: 701px;
    margin-left: 565px;
    padding:18px;
}
.sign-in-write{
    font-family: "Amazon Ember", Arial, sans-serif;
    /* display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 35px;
    /* font-weight: bold; */
    
    padding: 10px 23px;
} 
input::placeholder {
    font-size: 16px; /* Increase the font size of the placeholder */
    padding-left: 10px; /* Move the placeholder slightly to the right */
    color: gray; /* Optional: Change the placeholder text color */
}

.email-phone{
    /* display: grid;
    place-items: center;  */
    padding: 8px 2px 0px;
    margin: 2px 23px;
    font-size: 16px;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.note{
    font-size: 14px;
    margin: 23px;
    display: inline;
}
.note1{
    font-size: 14px;
    margin: 23px;
    display: inline;
    position: relative;
    left: -25px;
}
.email-phone2{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    align-items: center;
    /* place-items: center;  */ 
    padding: 10px 23px;
    font-size: 16px;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.button-container{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 10px 23px;
    
    
    
}
.continue-button{
    /* width:300px; */
    width: 351px;
    height: 36px;
    margin: 7px 0px;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    font-family: "Amazon Ember", Arial, sans-serif;
    border-radius:10px;
    border: none;
    font-weight: 500;
    color: #111;
    cursor: pointer;
}
.search-box{
    width: 345px;
    height: 34px;
    margin: 7px 23px;
    border-radius: 3px;
    border: 1px solid gray;
    box-shadow: #a88734;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .07) inset;
    outline: 0;
}
.terms-write{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 10px 23px;
    font-size: 15px !important;
    /* line-height: 1.5 !important; */
}
.new-to-amazon-write{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 10px 23px;
    color: gray;
}

.button-container-2{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 10px 23px;
    
}
.create-button{
    border-radius: 7px;
    background-color: white;
    border: 1px solid grey;
    width: 345px;
    height: 34px;
    /* background: #e7e9ec; */
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
footer{
    width: 100vw;
    height: 20vh;
    margin: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}
footer ul li{
    
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: inline; 
    padding: 12px;
    
}
.sign-in{
    background-color:rgb(245, 245, 245);
    display: flex;
    margin: 0px;
    width: 429px;
    border: 0px solid grey;
    position: relative;
    height: 75px;
    left: -18px;
    top: 17px;
    border-radius: 13px;
}
.sign-in p{
    top: 21px;
    display: inline;
    position: relative;
    left: 43px;
}
.abv-last{
    height: 37px;
    /* border: 1px solid; */
    display: inline;
    position: relative;
    left: 230px;
}

.help{
    width: 35vw;
    height: 8vh;
    position: relative;
    left: -42px;
    /* border: 1px solid black; */
    top: 40px;
    font-size: 14px;
}
